  <div class="card mt-3">
      <div class="card-header">
          <h5>Search</h5>
      </div>
      <div class="card-body">
            <form action="/search">
                <div class="form-group">
                    <input name="q" type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-primary btn-sm btn-block" style="background-color: rgb(216, 161, 34);">Ara</button>
            </form>
      </div>
  </div>
  
  
